<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Mini Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          {% comment %} Dnynamic path change the background color red {% endcomment %}
          <li class=" {% if request.path == '/' %} nav-item active {% endif %}">
            <a class="nav-link " aria-current="page" href="/">Home</a>
          </li>
          <li class=" {% if request.path == '/about/' %} active {% endif %}">
            <a class="nav-link" href="{%url 'about'%}">About</a>
          </li>
          <li class=" {% if request.path == '/contact' %} nav-item active {% endif %}">
            <a class="nav-link" href="{%url 'contact'%}">Contact</a>
          </li>
          {% if request.user.is_authenticated %}
            <li class=" {% if request.path == '/dashboard' %} nav-item active {% endif %}">
              <a class="nav-link" href="{%url 'dashboard'%}">Dashboard</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{%url 'logout'%}">Logout</a>
            </li>
          {%else%}
          {% url 'signup' as url%}   
            <li class="{% if request.path == url %} active {%endif%}">
              <a class="nav-link" href="{{url}}">Signup</a>
            </li>
            {% url 'login' as url%} 
            <li class="{% if request.path == url %} active {%endif%}">
              <a class="nav-link" href="{{url}}">Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>